

.button {
    width: 130px;
    height: 30px;
    background-color: #f44336;
    color:white;
    margin-left:70px;
    margin-bottom: 180px;
}

.g_rc1{
    grid-area: rc1;
}
.g_rc2 {
    grid-area: rc2;
}
.g_rc3 {
    grid-area: rc3;
}
.g_rc4 {
    grid-area: rc4;
}

.gallery__main {
    max-width: 60.9%;
    display: grid;

   margin:0 auto;
    grid-template-areas:
    "rc1 rc2 rc3 rc4";
    grid-gap:30px;

}
.gallery__h1 {
   max-width:300px;
    height: 37px;
    color: #f44336;
    font-family: Poppins,serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    margin: 95px auto;

}
.g_rc4 > .gallery__p {
    padding-bottom: 0;
    text-align: center;
}
.gallery__p {
    padding-bottom: 27px;
    text-align: center;
}
