.test__con {
    width: 1923px;
    height: 537px;

}
.test__div {
    width: 1923px;
    height: 537px;
    background: url("img/testimonial/testimonial.jpg") no-repeat;
}
.test__p {
    white-space: pre-wrap;
    width: 935px;
    height: 136px;
    color: #ffffff;
    font-family: "Roboto Condensed", serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 51px 79px 98px;

    line-height: 24px;
}
.test__h {
    width: 277px;
    height: 39px;
    color: #ffffff;
    font-family: Poppins, serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    margin:0 auto;
    padding-top: 85px;
}

.test__img {
    width: 45px;
    height: 38px;
    opacity: 0.7;
    padding-left: 941px;
    padding-top: 90px;
}

.test_arrow__l {
    border: 1px #ffffff solid;
    padding:10px 13px;
    width: 11px;
    height: 17px;
    margin-left: 377px;
    margin-top: 60px;
}
.box {
    display: flex;
}
.test_arrow__r {
    border: 1px #ffffff solid;
    padding:10px 13px;
    width: 11px;
    height: 17px;
    margin-top: 60px;
}

.fix__arrow {
position: fixed;
    right: 55px;
    top:80%;
    opacity: 0.5;
}

.fix__arrow:hover {
    opacity: 1;
}
