.about_main {
    max-width: 1920px;
    max-height: 500px;
}

.about_main__h {
    height: 28px;
    color: #f44336;
    font-family: Poppins, serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 35px;
    padding-top: 14px;

}

.about_main__p {
    width: 41%;
    height: 60%;
    color: #999999;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.12px;
    white-space: pre-wrap;
}

.about_main__img {
    width: 55.55%;
    height: 100%;
    padding-left: 1.5%;
}

.about_main__div {
    width:50%;
    height: 338px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 4.2%;
    background-color: #ffffff;
}